asgiref==3.9.1
asttokens==2.4.1
colorama==0.4.6
comm==0.2.2
debugpy==1.8.14
decorator==5.1.1
Django==5.2.4
executing==2.1.0
findspark==2.0.1
ipykernel==6.29.5
jedi==0.19.2
nest-asyncio==1.6.0
packaging==25.0
parso==0.8.4
platformdirs==4.3.8
prompt_toolkit==3.0.48
psutil==7.0.0
pure_eval==0.2.3
py4j==0.10.9.7
Pygments==2.18.0
python-dateutil==2.9.0.post0
pytz==2025.2
pywin32==310
pyzmq==26.4.0
six==1.16.0
sqlparse==0.5.3
stack-data==0.6.3
tornado==6.5.1
traitlets==5.14.3
tzdata==2025.2
wcwidth==0.2.13
